.button{
background-color:white;
    color: #1D0E70;
    font-family: fantasy;
    margin-left: 2px;
    margin-right: 5px;
    border-radius: 5px;
}
.button:hover{
    background-color: #1D0E70;
    color: white;
}

.imagen{
    height: 30px;
    width: 30px;
    margin-left: 10px;
    margin-top: 10px;
}
.parrafo{
/*     position: absolute;
    margin-left: 55px;
    margin-top: 10px; */
    margin-left: 2px;
    color: black;
    font-weight: 800;

   
}
.nav{
    display: flex;
    position: relative;
    justify-content: space-between;
    height: 80px;
    align-items: center;
    background: linear-gradient(to bottom, #1D0E70,white);
    
    
}
